.idea
.project
.classpath
.settings
*.iml
*.swp
*.orig
*.rej
target
sakai-demo.tar.gz
sakai-demo.zip
.directory
.sass-cache
.metadata
.DS_Store
*nb-configuration.xml
velocity.log
node_modules
webcomponents/tool/src/main/frontend/dist
bower_components
rebel.xml
rsf/sakai-rsf-web/templates/overlays
rsf/sakai-rsf-web/test/overlays
.mvn/wrapper/maven-wrapper.jar
.checkstyle
assets
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/CHANGELOG.md
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/bundles/webcomponents-sd-ce-pf.js
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/bundles/webcomponents-sd-ce-pf.js.map
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/bundles/webcomponents-sd-ce.js
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/bundles/webcomponents-sd-ce.js.map
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/bundles/webcomponents-sd.js
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/bundles/webcomponents-sd.js.map
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/package.json
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/src/entrypoints/webcomponents-sd-ce-pf-index.js
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/webcomponents-bundle.js
webcomponents/src/main/frontend/assets/@webcomponents/webcomponentsjs/webcomponents-bundle.js.map
webcomponents/src/main/frontend/assets/lit-element/package.json
webcomponents/src/main/frontend/assets/lit-html/package.json
webcomponents/src/main/frontend/assets/sortablejs/README.md
webcomponents/src/main/frontend/assets/sortablejs/Sortable.js
webcomponents/src/main/frontend/assets/sortablejs/Sortable.min.js
webcomponents/src/main/frontend/assets/sortablejs/modular/sortable.complete.esm.js
webcomponents/src/main/frontend/assets/sortablejs/modular/sortable.core.esm.js
webcomponents/src/main/frontend/assets/sortablejs/modular/sortable.esm.js
webcomponents/src/main/frontend/assets/sortablejs/package.json
